{% extends 'students/base.html' %}

{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .mijloc{
        margin-top: 100px;
        margin-left: 530px;
    }
    body{
        background:#eee;
    }
    .container {
        display: block;
    margin-left: auto;
    margin-right: auto
      }
</style>
<body>
<div class="mijloc">
    <div  class="w3-animate-zoom w3-half w3-blue w3-padding-large w3-round-xxlarge">
        <div class="w3-center " >
        <h1 class="text-center mb-5">Change Password</h1>

        
        
            <form method="POST">
                {% csrf_token %}

                
                <div class="form-group">
                    {% for f in form %}
                        {{ f.label }}:
                        <br>
                        {{ f }}
               
                <br>
            {% endfor %}
            <div class="container">
                <br>
                <li>Your password must contain at least 8 characters.</li>
                
                <li>Your password can’t be entirely numeric.</li>
            </div>
            <br>
                <div class="w3-center"><button type="submit"  class="btn btn-success w3-padding-large w3-round-xxlarge"><b>Change it</b></button></div>
            </form>
        
        </div>
    </div>
</div>

</body>

{% endblock %}